<div id="table" style="padding: 30px" #pdfPart>
  <div>
    <h1 style="margin-top: 0">Invoice</h1>
  </div>

  <div class="date-block">
    <div>
      <p style="font-weight: bold">Invoice number</p>
      <p>Date of issue</p>
      <p>Date due</p>
    </div>
    <div>
      <p style="font-weight: bold">9FAFE87F-0050</p>
      <p>July 6, 2023</p>
      <p>August 5, 2023</p>
    </div>
  </div>

  <div style="display: flex; gap: 640px; margin-top: 20px">
    <div>
      <p style="font-weight: bold">Mobiddiction Pty Ltd</p>
      <p>
        <a
          style="text-decoration: none; cursor: pointer; color: black"
          href="mailto:help@mobiddiction.com.au"
          >help@mobiddiction.com.au</a
        >
      </p>
    </div>
    <div>
      <p style="font-weight: bold">Bill to</p>
      <p>Yunus Patel</p>
      <p>364001</p>
      <p>India</p>
      <p>yunuspatel+3@mobiddiction.com.au</p>
    </div>
  </div>
  <div>
    <h1>A$17.00 due August 5, 2023</h1>
    <a href="www.google.com" target="_blank">Pay online</a>
    <p style="margin-top: 20px">
      Thanks for choosing Mobiconnect™ – by Mobiddiction Pty Ltd.
    </p>
  </div>
  <div>
    <table id="costs">
      <thead>
        <th>Description</th>
        <th>Qty</th>
        <th>Unit price</th>
        <th style="text-align: right">Amount</th>
      </thead>
      <tr>
        <td>Inoice test AUSD - one time</td>
        <td>1</td>
        <td>A$5.00</td>
        <td style="text-align: right">A$5.00</td>
      </tr>
      <tr>
        <td>multiple invoice test -1 - one time price</td>
        <td>1</td>
        <td>A$5.00</td>
        <td style="text-align: right">A$5.00</td>
      </tr>
      <tr>
        <td>multiple invoice test -2 - one time price</td>
        <td>1</td>
        <td>A$5.00</td>
        <td style="text-align: right">A$5.00</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3">
          <table id="inner-table">
            <tr>
              <td></td>
              <td colspan="2">Subtotal</td>
              <td style="text-align: right">A$17.00</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2">Total excluding tax</td>
              <td style="text-align: right">A$17.00</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2">GST - Australia (0% incl. on A$17.00)</td>
              <td style="text-align: right">A$0.00</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2">Total</td>
              <td style="text-align: right">A$17.00</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" style="font-weight: bold">Amount due</td>
              <td style="text-align: right; font-weight: bold">A$17.00</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div style="margin-top: 20px">
    <p>
      The Platform Mobiconnect™ is offered as a service of Mobiddiction Pty Ltd
      [ACN 160 375 306].
    </p>
    <p>License fees | Terms of use apply.</p>
  </div>
  <div style="margin-top: 30px">
    <p>Customer support: support.mobiddiction.com</p>
    <p>More info: mobiddiction.com.au</p>
    <p>
      Please get in touch with us if you need a customised digital product
      solution.
    </p>
  </div>
  <div id="footer">
    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: small;
      "
    >
      <p>9FAFE87F-0050 · A$17.00 due August 5, 2023</p>
      <p>Page 1 of 1</p>
    </div>
  </div>
</div>

<button (click)="download()">Download Pdf</button>
<button (click)="download1()">Download Pdf1</button>
<button (click)="downloadAsPDF()">Download Pdf1</button>

<router-outlet></router-outlet>
